body {
 overflow: hidden;
 width: 100%;
 height: 100%;
 padding: 0px;
 margin: 0px;
}

.BackgroundSubmit {

 display:none;

 width:100%;
 height:50px;

 bottom:0px;
 position:fixed;

 opacity:0.8;

 background-color:white;
 border-top: 1px solid lightgray;

}

.Submit {
 display:none;
 width:100%;
 height:50px;

 bottom:0px;
 position:fixed;


 border-top: 0px solid silver;
}



.Submit div {
 
 width:100%;
 padding-left:3px;
 margin:1px 0 0 0;
 float:left;

 border:1px solid lightgray;
 background-color:white;
}

/*
.Submit div:first-child { 
 right:3px;
 position:relative;
}

.Submit div:last-child { 
 left:3px;
 position:relative;
}
*/

.Submit div input {
 font-size:15px;
 font-family: URW Palladio L, DejaVu Serif, Serif; /*Century Schoolbook L*/
 width:98%;
 border:0px solid silver;
 background-color:white;
}


.Products {
 display: block;
 width: 100%;
 height:100%;
 border:0px solid silver;
 text-align: center;
 overflow-y: auto;
 position: relative;
 margin: auto;
}

.goods {

 position: relative;

 font-size:16px;
 font-family:Nimbus Mono L, URW Palladio L, DejaVu Serif, Serif; /*palatino, Courier New,*/

 width:240px;
 height:360px;

 background-repeat: no-repeat;
 background-size: auto 100%;
 background-position: 50%;

 display: inline-block;
 box-sizing: border-box;

 border:1px solid silver;

 margin: 1.5px 0 1.5px 0; 
	transition: background 0.3s;
}

.goods:before, .goods:after {
	transition: background-color 0.3s;
}

.goods:before {
	content: attr(data-before);

	display: block;
	box-sizing: border-box;

	width: 100%;
	background-color: rgba(255,255,255,0.6);
	color:black;
}

.goods:after {

	content:attr(data-after);

	display: block;
	box-sizing: border-box;

	width: 100%;

	background-color: rgba(255,255,255,0.6);
	color: black;
}

.goods:hover:before, .goods:hover:after {
	background-color: rgba(255,255,255,0.8);
}

.goods:nth-child(1) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-2.jpg);
}
.goods:nth-child(2) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-4.jpg);
}
.goods:nth-child(3) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-3.jpg);
}
.goods:nth-child(4) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-2.jpg);
}
.goods:nth-child(5) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-1.jpg);
}
.goods:nth-child(6) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-2.jpg);
}
.goods:nth-child(7) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-4.jpg);
}
.goods:nth-child(8) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-3.jpg);
}
.goods:nth-child(9) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-1.jpg);
}
.goods:nth-child(10) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-3.jpg);
}
.goods:nth-child(11) {
 background-image:url(/xn--80ajcr.github.io/img/home-slider-image-2.jpg);
}


.Product {
 font-size:16px;
 font-family:Nimbus Mono L, URW Palladio L, DejaVu Serif, Serif; /*palatino, Courier New,*/

 width:30%;

/* float:left;*/
 border:0px solid silver;
}



.Product td {
 text-align:center;
 vertical-align:middle;
 border-radius:3px;
 border:0px solid silver;
}

.Product .PicherProductCell {
 height:100%;
}

.Product .NameProductCell {
 font-weight:bold;
 border:1px double lightgray;
 border-bottom:3px double white;
}

.Product .PriceProductCell {
 font-style:italic;
 font-weight:normal;
 border:1px double lightgray;
 border-top:3px double white;
}

.Product .NameProductCell:before {
 content:attr(data-before);
}

.Product .PriceProductCell:after {
 content:attr(data-after);
}

.Product .PicherProductCell img {
 border-radius:3px;
 border:0px double silver;
 width:85%;
}


/*
html:after {
 content:'floSSSSSSSSSSSSor information asdf';


 height:10%;
 width:275px;

 top:100%;
 position:relative;

 border:1px solid silver;
}
*/

body {



 width:100%;
 height:100%;

 min-height:100%;
 margin:0px;
 padding:0px;
}

html {
 height:100%;
 max-height:100%;
}


/*
.floorBox {
 display:table;
 width:100%;
}

.floor {
 display:table-cell;
 text-align:center;
 vertical-align:middle;

 width:100%;
 height:100px;
}
*/
